<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="{CSS_PATH}/detils.css">
    <link rel="stylesheet" href="{CSS_PATH}/base.css">
    <link rel="stylesheet" href="{CSS_PATH}/swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <script src="{JS_PATH}/rem.js"></script>
</head>
<body>
<header>
    <a href="index.php?m=index&f=index&a=index1">
    <div class="back"></div>
    </a>
    <div class="stitle0"></div>
    <div class="xian"></div>
</header>
{foreach $result as $v}
<div class="cotent">
    <div class="content1">
        <div class="content1">
            <div class="hjy-banner swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{IMG_PATH}/d1.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{IMG_PATH}/d2.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="{IMG_PATH}/ding9.png" alt="">
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="bann">
                    <span class="bzi" name="yutitle">{$v["yutitle"]}</span>

                    <span class="bzi1" >{$v["stitle"]}</span>

                    <span class="bzi2">双珠面料，吸汗透气</span>
                </div>
                <div class="bann1">
                    <img src="{IMG_PATH}/shles.png" alt="">
                </div>
            </div>
            <div class="jage">
                <span class="rmb" name="price">{$v["price"]}</span>
                <span class="rmb1">RMB</span>
                <span class="rmb2">
                    <span class="sc">生产周期为15天</span>
                </span>
            </div>
            <div class="xin">
                <span class="xinbao">
                    <img src="{IMG_PATH}/ding1.png" alt="">
                    <span class="xzi">七天无理由退换</span>
                </span>
                <span class="xinbao1">
                    <img src="{IMG_PATH}/ding1.png" alt="">
                    <span class="xzi">先行赔付</span>
                </span>
                <span class="xinbao1">
                    <img src="{IMG_PATH}/ding1.png" alt="">
                    <span class="xzi">超时赔偿</span>
                </span>
            </div>
            <div class="xin1">
                <span class="xzi1">
                    选择尺码和主要颜色
                </span>
                <span class="jt"> > </span>
            </div>
            <div class="choose">
                <div class="choose1 tts">
                    商品详情
                </div>
                <div class="choose2">
                    商品评论
                </div>
            </div>
            <div class="con display">
                <div class="con1">
                    <div class="xian"></div>
                    <div class="cont">尺码信息</div>
                    <div class="xian1"></div>
                </div>
                <table class="table table-hover table-striped table1">
                    <tr class="ss">
                        <td>吊牌</td>
                        <td>参考</td>
                        <td>肩宽</td>
                        <td>胸围</td>
                        <td>袖长</td>
                        <td>前衣</td>
                        <td>后衣</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>22</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>22</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>22</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                        <td>222</td>
                    </tr>
                </table>
                <div class="con1">
                    <div class="xian"></div>
                    <div class="cont">商品展示</div>
                    <div class="xian1"></div>
                </div>
                <div class="show">
                    <ul>
                        <li>
                            <img src="{IMG_PATH}/d1.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/ding22.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/d2.png" alt="">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{IMG_PATH}/ding5.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/ding4.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/ding6.png" alt="">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{IMG_PATH}/ding7.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/ding8.png" alt="">
                        </li>
                        <li>
                            <img src="{IMG_PATH}/ding9.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="fill">



            <main>
                <div class="hang">
                    <div class="photo">
                        <img src="{IMG_PATH}/touxiang.png" alt="">
                    </div>
                    <div class="namebox">
                        <div class="name">
                            小酒窝莉莉
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                    </div>
                    <div class="timebox">
                        <div class="time">
                            2017.05.12
                        </div>
                        <div class="color">
                            颜色分类: 白色
                        </div>
                        <div class="size">
                            尺码: XL
                        </div>
                    </div>
                </div>
                <div class="hang1">
                    <span>面料软，上身修身，款式很时尚，喜欢，超值。</span>
                </div>
                <div class="tubox">
                    <div class="tu">
                        <img src="{IMG_PATH}/tu.png" alt="">
                    </div>
                    <div class="tu">
                        <img src="{IMG_PATH}/tu1.png" alt="">
                    </div>
                    <div class="tu">
                        <img src="{IMG_PATH}/tu2.png" alt="">
                    </div>
                </div>
                <div class="hang2">
                    <div class="liulan">
                        浏览107人
                    </div>
                    <a href="index.php?m=index&f=message&a=liuyan"><div class="zan">
                        <img src="{IMG_PATH}/pinglun.png" alt="">&nbsp;(1257)
                    </div></a>
                    <div class="zan1">
                        <img src="{IMG_PATH}/zan.png" alt="">&nbsp;(1257)
                    </div>

                </div>
            </main>
            <main>
                <div class="hang">
                    <div class="photo">
                        <img src="{IMG_PATH}/touxiang.png" alt="">
                    </div>
                    <div class="namebox">
                        <div class="name">
                            小酒窝莉莉
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                        <div class="xing">
                            <img src="{IMG_PATH}/wujiaoxing.png" alt="">
                        </div>
                    </div>
                    <div class="timebox">
                        <div class="time">
                            2017.05.12
                        </div>
                        <div class="color">
                            颜色分类: 白色
                        </div>
                        <div class="size">
                            尺码: XL
                        </div>
                    </div>
                </div>
                <div class="hang1">
                    <span>面料软，上身修身，款式很时尚，喜欢，超值。</span>
                </div>
                <div class="tubox">
                    <div class="tu">
                        <img src="{IMG_PATH}/tu.png" alt="">
                    </div>
                    <div class="tu">
                        <img src="{IMG_PATH}/tu1.png" alt="">
                    </div>
                    <div class="tu">
                        <img src="{IMG_PATH}/tu2.png" alt="">
                    </div>
                </div>
                <div class="hang2">
                    <div class="liulan">
                        浏览107人
                    </div>
                    <div class="zan">
                        <img src="{IMG_PATH}/pinglun.png" alt="">&nbsp;(1257)
                    </div>
                    <div class="zan1">
                        <img src="{IMG_PATH}/zan.png" alt="">&nbsp;(1257)
                    </div>

                </div>
            </main>
            <div class="xzzbutton">
                <input type="button" placeholder="">
                <a href="index.php?m=index&f=message" class="aaa">查看所有评论(455+)</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot">
        <div class="foot1">
            <ul>
                <li>
                  <span>客服</span>
                    <img src="{IMG_PATH}/kefu.png" alt="">
                </li>
                <li>
                    <span>厂家</span>
                    <img src="{IMG_PATH}/dianpu.png" alt="">
                </li>
                <li>
                    <span>收藏</span>
                    <img src="{IMG_PATH}/heat.png" alt="">
                </li>
            </ul>
        </div>
        <div class="foot2">
            <span class="fbtn">
                加入购物车
            </span>
            <span class="fbtn1">
                立即购买
            </span>
        </div>
    </div>
</div>
{/foreach}
</body>
<script src="{JS_PATH}/jquery-1.11.3.js"></script>
<script src="{JS_PATH}/swiper.min.js"></script>
<script>
    $(function(){
        var mySwiper = new Swiper('.swiper-container',{
            loop : true,//可选选项，开启循环
            pagination : '.pagination',
            paginationClickable :true,
            autoplayDisableOnInteraction: false,
            mousewheelControl: true

        });
        $('.arrow-left').on('click', function(e){
            e.preventDefault();
            mySwiper.swipePrev()
        });
        $('.arrow-right').on('click', function(e) {
            e.preventDefault();
            mySwiper.swipeNext()
        })
    })

</script>
<script>
    var cho=$(".choose1");
    var cho1=$(".choose2");
    var con=$(".con");
    var fill=$(".fill");
    cho.click(function () {
        cho1.removeClass("tts1");
        cho.addClass("tts");
        fill.removeClass("display");
        con.addClass("display")
    });
    cho1.click(function () {
        cho.removeClass("tts");
        cho1.addClass("tts1");
        con.removeClass("display");
        fill.addClass("display")
    })
    $(".back").click(function () {
        history.back(-1);
    })
</script>
</html>