<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="UTF-8">
    <title>留言</title>
	<link rel="stylesheet" href="{CSS_PATH}/liuyan.css">
	<link rel="stylesheet" href="{CSS_PATH}/base.css">
	<script src="{JS_PATH}/rem.js"></script>
</head>
<body>
	<header>
        <a href="index.php?m=index&f=index&a=index1">
        <div class="back"></div>
        </a>
        <div class="stitle">
        	全部留言
        </div>
    </header>
    <div class="con">
    	<div class="con1">
    		<textarea name="" id="messin" cols="30" rows="10"></textarea>
    		<input type="submit" value="提交" class="submit">
    	</div>
    	<div class="con2">
    		<div class="title">
	    		<div class="head">
	    			<img src="{IMG_PATH}/yj-reg-p1.png" alt="">
	    		</div>
    			<span class="name">于世芳</span>
    			<span class="time1">12:00</span>
    			<span class="time">2017.07.11</span>
    		</div>
    		<div class="mcon">
    			<p>天气不错，出来溜溜，要一起吗？</p>
    		</div>
    	</div>
    </div>
</body>
</html>