<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="{CSS_PATH}/base.css">
	<link rel="stylesheet" href="{CSS_PATH}/yj-index.css">
	<script src="{JS_PATH}/rem.js"></script>
</head>
<body>
	<div class="box">
		<div class="shop1"></div>
		<div class="shop"></div>
		<div class="logo">
			<div class="logo1"></div>
			<div class="logo2">
				<p>SHANGPIN</p>
				<p><span>做自己</span>
				<span>有个性</span>
				<span>创造自己的生活</span></p>
			</div>
		</div>
		<div class="title">
			<div class="title1">
				<span>大學生的舞薹</span>
				<span class="dian"></span>
				<span>时尚個性</span>
			</div>
			<div class="title2">
			
			</div>
		</div>
		<div class="login">
			<a href="index.php?m=index&f=index&a=login1">
				<span></span>
				<span>
				<p>登录</p>
				<p>DENGLUHERE</p>
			</span>
				<span></span>
			</a>
		</div>
		<div class="login reg">
			<a href="index.php?m=index&f=index&a=reg1">
				<span></span>
				<span>
				<p>注册</p>
				<p>ZHUCEHERE</p>
			</span>
				<span></span>
			</a>
		</div>
	</div>
</body>
</html>