<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上传头像</title>
	<link rel="stylesheet" href="{CSS_PATH}/base.css">
	<link rel="stylesheet" href="{CSS_PATH}/yj-upload.css">
    <script src="{JS_PATH}/rem.js"></script>
	<script src="{JS_PATH}/upload11.js"></script>

</head>
<body>
<div class="title"></div>
 <div class="box">
    <div class="uploadBox" name="upload">
     </div>
 </div>
</body>
<script>
	 var obj = new upload();
        obj.size = 1024 * 1024*10;
        obj.selectBtnStyle.background = "yellow";
       
        obj.createView({
            parent: document.querySelector(".uploadBox")
        });
        obj.up("filecon.php",function (data){
            console.log(data);
            document.querySelector(".img").value=data;
        });
</script>
</html>