<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap-3.1.1.min.css">
    <script src="{JS_PATH}/upload.js"></script>
    <style>
        .form-control{
            width: 50%;
        }
        textarea{
            border-radius: 0.6rem;
        }
    </style>
</head>
<body>
<form action="index.php?m=admin&f=lists&a=add1" method="post" class="">

    <div class="form-group">
        <select name="cid"  class="form-control">
            <option value="0">
                --一级分类--
            </option>
            {$str}
        </select>
    </div>


    <div class="form-group">
        <label >标题</label>
        <input type="text" class="form-control"  name="stitle" >
    </div>
    <div class="form-group">
        <label >关键词</label>
        <input type="text"  class="form-control" name="keywords" >
    </div>

    <div class="form-group">
        <label style="display: block;">内容详情</label>
        <textarea name="scon" id="" cols="72" rows="10"></textarea>
    </div>
    <div class="form-group uploadbox">

        <label for="">图片</label>

        <div class="uploadBox">
            <img class="" src="" alt="">
            <input type="hidden" name="simage" class="simage">
        </div>


    </div>



    <input type="hidden" name="sid" value="">

    <input type="submit" class="gai" value="提交">
</form>
</body>
<script>

    var obj=new upload();
    obj.createView({
        parent:document.querySelector(".uploadBox")
    })
    obj.up("index.php?m=admin&f=lists&a=upload",function (data) {
        document.querySelector(".simage").value=data;
    });
</script>
</html>