<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap-3.1.1.min.css">
</head>
<body>

<form action="index.php?m=admin&f=position&a=editCon" method="post">

    <div class="form-group">
        <label class="yh">分类名</label>
        <input type="text" class="form-control" name="posname" value="{$posname}">
    </div>

    <input type="submit" class="gai" value="修改">
    <input type="hidden" name="posid" value="{$posid}">
    <a href="index.php?m=admin&f=position&a=show">返回</a>
</form>


</body>
</html>