<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap-3.1.1.min.css">
</head>
<body>
<form action="index.php?m=admin&f=lists&a=editStatus" method="post" class="">

    <div class="form-group">
        <label for="exampleInputEmail1">所属话题</label>
        <input type="text" name="cid" value="{$cname}">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">标题</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="stitle" value="{$stitle}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">关键词</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="keywords" value="{$keywords}">

    </div>
    <div class="form-group">
        <textarea name="scon" id="" cols="30" rows="10">{$scon}</textarea>
    </div>
    <div class="form-group uploadbox">

        <label for="exampleInputFile">图片</label>

        <div class="uploadBox">
            <img class="simage" src="{$simage}" alt="">
        </div>

    </div>
    <!--<input type="submit" value="修改内容">-->


    <input type="hidden" name="sid" value="{$sid}">
    未审核：<input type="radio" name="status" value="0" {if $status==0}checked{/if}><br>
    审核中：<input type="radio" name="status" value="1"  {if $status==1}checked{/if}><br>
    通过：<input type="radio" name="status" value="2"  {if $status==2}checked{/if}><br>
    <input type="submit" class="gai" value="修改">
    <a href="index.php?m=admin&f=lists&a=add">返回</a>
</form>
</body>
</html>