<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}/upload.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap-3.1.1.min.css">
    <style>
        .form-group {
            position: relative;
        }

        .sc {
            position: absolute;
            top: 30px;
            left: 70px;
            color:red;
            cursor: pointer;
        }
    </style>
</head>
<body>

<form action="index.php?m=admin&f=user&a=editCon" method="post">

    <div class="form-group">
        <label class="yh">用户名</label>
        <input type="text" class="form-control" name="" value="{$mname}">
    </div>

    <div class="form-group">
        <label >昵称</label>
        <input type="text" class="form-control" name="nicheng" value="{$nicheng}">
    </div>
    <div class="form-group">
        <label >角色</label>
        <input type="text" class="form-control" name="mrole" value="{$mrole}">

    </div>

    <input type="hidden" class="photo" name="photo">
    <div class="form-group form-group1">
            <label >头像</label>
            <img src="{$photo}" alt=""  style="width: 100px;height: 100px;" >
            <div class="sc">删除</div>
    </div>
    <div class="form-group uploadbox">

    </div>
    <input type="submit" class="gai" value="修改">
    <input type="hidden" name="mid" value="{$mid}">
    <a href="index.php?m=admin&f=user&a=show">返回</a>
</form>
<script src="{JS_PATH}/jquery.min.js"></script>

</body>
<script>
    var obj=new upload();
    obj.createView({
        parent:document.querySelector(".uploadbox")
    })
    obj.up("index.php?m=admin&f=user&a=upload",function (data) {
        document.querySelector(".photo").value=data;
    });

     var sc=document.querySelector(".sc");

    sc.onclick=function () {
        var ajax=new XMLHttpRequest();
        var mid=document.querySelector("input[name=mid]").value;
        ajax.open("POST","index.php?m=admin&f=user&a=deltx&mid="+mid);
        ajax.setRequestHeader("Content-Type","applaction/X-www-form-urlencoded");
        ajax.send("mid="+mid);
        ajax.onload=function () {
            if(ajax.response=="ok1"){
                sc.parentNode.parentNode.removeChild(sc.parentNode);
            }
        }

    }
</script>
</html>