body,html{
		background: -webkit-linear-gradient(top,#f91f49,#ff21aa);
}
.big{
	width: 100%;
	
	background: -webkit-linear-gradient(top,#f91f49,#ff21aa);
}
.box{
	background: -webkit-linear-gradient(top,#f91f49,#ff21aa);
			
			height: 12.95rem;
}

.con{
	box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}
.tou{
	width: 2.7rem;;height: 2.7rem;
	background: #ff6dad;
	margin-top: 1.88rem;
	margin-left: 0.29rem;
	border-radius: 50%;
	position: relative;
}
.tou1{
	width: 2.3rem;
	height: 2.3rem;
	background: #ffa9d4;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.tou2{
	width: 1.8rem;
	height: 1.8rem;
	border: 0.04rem solid #fff;
	background: #ff1975;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}
.tu{
	width: 100%;
	height: 100%;
}
.list{
	width: 4.58rem;
	height: 5.86rem;
	
	margin-left: 0.29rem;
	margin-top: 0.5rem;
}
.list ul li{
	width: 100%;
	height: 14.3%;
	
	overflow: hidden;
}
.list ul li p:nth-child(1){
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.35rem;
}
.list ul li p:nth-child(1) span:nth-child(1){
	display: inline-block;
	width: 0.35rem;
	height: 0.35rem;

	float: left;
}
.list ul li p span:nth-child(2){
	padding-left: 0.2rem;
}
.list ul li p:nth-child(1) span:nth-child(3){
	display: inline-block;
	width: 0.35rem;
	height: 0.35rem;
	float: right;
}
.list ul li p:nth-child(2){
	height: 0.1rem;
	widows: 100%;
	background: url(../img/yj-member-2.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.flage{
  display: inline-block;
  float: right;
  height: 0.5rem;
  width: 1rem;
}
.flage1{
	display: block;
  height: 0.5rem;
  width: 0.5rem; 
}
.conn{
	background: url(../img/yj-member-back.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.setting{
	width: 0.85rem;
	height: 0.49rem;
	background: url(../img/yj-member-set.png);
	background-position: 100%;
	background-size: cover;
	border-radius: 0.4rem;
	margin-top: 0.26rem;
	margin-left: 0.17rem;
	float: left;
}
.write{
	width: 0.85rem;
	height: 0.49rem;
	background: url(../img/yj-member-write.png);
	background-position: 100%;
	background-size: cover;
	border-radius: 0.4rem;
	margin-top: 0.26rem;
	margin-right: 0.17rem;
	float: right;
}
.zi{
	width: 0.81rem;
	height: 0.44rem;
	background: url(../img/yj-member-zi.png);
	background-position: 100%;
	background-size: cover;
	border-radius: 0.4rem;
	margin-top: 1.1rem;
	margin-left: 1.09rem;
	font-size: 0.18rem;
	color: #ff1c67;
	text-align: center;
	line-height: 0.44rem;
}
.dengji{
	height: 0.24rem;width: 1.5rem;
	
	margin-left: 1.48rem;margin-top: 0.15rem;
}
.dengji span{
	display: inline-block;
	width: 0.27rem;
	height: 100%;
	margin-right: 0.08rem;
	float: left;
	margin-top: -0.05rem;
}
.touxiang{
	width: 2.7rem;
	height: 2.7rem;
	background: #fc82a6;
	border-radius: 50%;
	margin:0 auto;
	position: relative;
}
.touxiang1{
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	background: #fdb4ca;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
}
.touxiang2{
	width: 1.8rem;
	height: 1.8rem;
	background: #ff1975;
	border: 0.04rem solid #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	overflow: hidden;
}
.tiao1{
	width: 1.88rem;
	height: 0.5rem;
	background: rgba(255,200,0,0.6);
	border-radius: 0.5rem;
	border: 0.04rem solid #fff;
	position: absolute;
	right: -1.5rem;
	top: 0.2rem;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.22rem;
	font-weight: bold;
	color: #fff;
		cursor: pointer;
}
.tiao2{
	width: 1.88rem;
	height: 0.5rem;
	background: rgba(255,0,60,0.6);
	border-radius: 0.5rem;
	border: 0.04rem solid #fff;
	position: absolute;
	right: -1.8rem;
	top: 1rem;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.22rem;
	font-weight: bold;
	color: #fff;
		cursor: pointer;
}
.tiao2 span:nth-child(1){
	display: inline-block;
	width: 0.33rem;
	height: 0.25rem;
	
}
.tiao3 span:nth-child(1){
	display: inline-block;
	width: 0.33rem;
	height: 0.25rem;
	
}
.tiao3{
	width: 1.88rem;
	height: 0.5rem;
	background: rgba(255,96,0,0.6);
	border-radius: 0.5rem;
	border: 0.04rem solid #fff;
	position: absolute;
	right: -1.5rem;
	top: 1.8rem;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.22rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
.dingdan{
	width: 6.52rem;
	height: 0.89rem;
	margin:0 auto;
	margin-top: 1.1rem;

}
.dingdan ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.dingdan ul li{
	width: 1rem;
	height: 100%;

}
.dingdan ul li p:nth-child(1){
	display: block;
	width: 0.42rem;
	height: 0.47rem;
	margin:0 auto
}
.dingdan ul li p:nth-child(2){
	color: #6d6d6d;
	font-size: 0.24rem;
	text-align: center;
}
.fenlei{
	width: 7.02rem;
	height: 4.07rem;

	margin:0 auto;
	margin-top: 0.4rem;

}
.fenlei ul{
	width: 100%;
	height: 100%;
	
}
.fenlei ul li{
	width: 100%;
	height: 0.89rem;
	background: #fff;
	border-radius: 0.2rem;
	margin-bottom: 0.16rem;
	box-shadow: 0 15px 20px rgba(0,0,0,0.1);
	
}
.fenlei1{
	width: 0.41rem;
	height: 0.28rem;
	float: left;

	margin-top: 0.34rem;
	margin-left: 0.27rem;
}
.fenlei2{
	width: 4rem;
	height: 0.53rem;
	
	float: left;
	margin-top: 0.2rem;
	margin-left: 0.1rem;
}
.fenlei2 p{
	display: block;
	height: 50%;
	line-height: 0.26rem;
	font-size: 0.24rem;
	margin-bottom: 0;
}
.fenlei2 p:nth-child(1) span:nth-child(1){
	color: #f91a73;
}
.fenlei2 p:nth-child(1) span:nth-child(2){
	color: #878787;
}
.fenlei2 p:nth-child(2){
	color: #bcbbbc;
}
.fenlei2-more{
	width: 0.41rem;
	height: 0.41rem;
	background: red;
	float: right;
	margin-top: 0.22rem;
	margin-right: 0.53rem;
	background: url(../img/yj-member-more1.png);
	background-position: 100%;
	background-size: cover;
}
.di{
	width: 100%;
	height: 1.1rem;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.di ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.di ul  li{
	width: 0.49rem;
	height: 0.49rem;
	margin-top: 0.3rem;
		cursor: pointer;
}
.di ul a:nth-child(3) li{
	width: 0.93rem;
	height: 0.93rem;
	margin-top: 0.08rem;
}
.di ul li p{
	display: block;
	width: 100%;
	height: 0.1rem;
	background: url(../img/zx6_03.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 0.05rem;
	display: none;
}
.di .active{
	display: block;
}
.bigg{
	height: 100%;
}
.ge1{
	width: 0.98rem;
	height: 0.63rem;
	background:url(../img/yj-member-ge1.png) ;
	background-position: 100%;
	background-size: cover;
	margin-top: 1.8rem;
	margin-left: 0.65rem;
	display: none;
}
.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
}

.zhezhao .fen1{
	width: 4rem;
	height: 1rem;

	position: absolute;
	top: 6.1rem;
	left: 1.5rem;
	display: flex;
	justify-content: space-around;

}
.zhezhao .fen1 span{
	display: inline-block;
	width: 0.78rem;
	height: 0.78rem;
	margin-top: 0.1rem;
}







